<?xml version="1.0" encoding="utf-8" ?> 
<fieldTypes>
	<fieldType id="1" name="text (single line)" editSrc="editFieldText.ascx" displaySrc="displayFieldText.ascx" />
	<fieldType id="2" name="text (multiline)" editSrc="editFieldTextMultiline.ascx" displaySrc="displayFieldTextMultiline.ascx" />
	<fieldType id="3" name="password" editSrc="editFieldPassword.ascx" displaySrc="displayFieldPassword.ascx" />
	<fieldType id="4" name="checkbox" editSrc="editFieldCheckBox.ascx" displaySrc="displayFieldCheckBox.ascx" />
	<fieldType id="5" name="checkbox list" editSrc="editFieldCheckBoxList.ascx" displaySrc="displayFieldCheckBoxList.ascx" />
	<fieldType id="6" name="radio button list" editSrc="editFieldRadioButtonList.ascx" displaySrc="displayFieldRadioButtonList.ascx" />
	<fieldType id="7" name="drop down list" editSrc="editFieldDropDownList.ascx" displaySrc="displayFieldDropDownList.ascx" />
	<fieldType id="8" name="responder registration" editSrc="editFieldResponderRegistration.ascx" displaySrc="displayFieldResponderRegistration.ascx" />
</fieldTypes>
	