<?xml version="1.0" encoding="utf-8" ?> 
<menu>
	<item label="Content Management" href="cms.aspx" protected="false" icon="" />
	<item label="Resources" href="resources.aspx" protected="false" icon="" />
	<item label="Form Data" href="formexport.aspx" protected="true" icon="" />
	<item label="Publish" href="publish.aspx" protected="true" icon="" />
	<item label="Users" href="users.aspx" protected="true" icon="" />
	<item label="Logout" href="../logout.aspx" protected="false" icon="" />
</menu>