<?xml version="1.0" encoding="utf-8"?>
<nodeTypes>
    <type id="0" name="node/container" siteTemplate="" adminTemplate="" />
    <type id="1" name="link" siteTemplate="linkDisplay" adminTemplate="linkAdmin" publishSP="publishLinks" selectSP="showPublishLinks" />
    <type id="3" name="rawhtml" siteTemplate="rawHtmlDisplay" adminTemplate="rawHtmlAdmin" publishSP="publishRawHtml" selectSP="showPublishRawHtml" />
    <type id="2" name="article" siteTemplate="articleDisplay" adminTemplate="articleAdmin" publishSP="publishArticles" selectSP="showPublishArticles" />
    <type id="4" name="advanced article" siteTemplate="advancedArticleDisplay" adminTemplate="advancedArticleAdmin" publishSP="publishAdvancedArticles" selectSP="showPublishAdvancedArticles" />
    <type id="5" name="search" siteTemplate="searchDisplay" adminTemplate="searchAdmin" />
    <type id="6" name="advanced article 2" siteTemplate="advancedArticleDisplay" adminTemplate="advancedArticle2" publishSP="publishAdvancedArticles" selectSP="showPublishAdvancedArticles" />
    <type id="8" name="Final AdvancedArticle" siteTemplate="advancedArticleDisplay" adminTemplate="advancedArticleAdmin2" />
    <type id="10" name="form" siteTemplate="formBuilder/formControlTest" adminTemplate="formBuilder/formAdmin" />
</nodeTypes>