<?xml version="1.0" encoding="utf-8" ?> 
<siteTemplates>
	<template id="1" name="default" headerFile="~/siteTemplates/defaultHeader.ascx" footerFile="~/siteTemplates/defaultFooter.ascx" />
	<template id="2" name="foundation" headerFile="~/siteTemplates/foundationHeader.ascx" footerFile="~/siteTemplates/foundationFooter.ascx" />
</siteTemplates>