<?xml version="1.0"?>
<configuration>
  <!-- HTTP Modules -->
  <configSections>
    <sectionGroup name="SiteFoundry">
      <section name="urlRewrite" type="Dury.SiteFoundry.UrlRewrite.ConfigHandler, SiteFoundry"/>
      <section name="requestSecurity" type="Dury.SiteFoundry.Security.RequestConfigHandler, SiteFoundry"/>
    </sectionGroup>
    <sectionGroup name="ajaxNet">
      <section name="ajaxSettings" type="AjaxPro.AjaxSettingsSectionHandler, AjaxPro"/>
    </sectionGroup>
  </configSections>
  <SiteFoundry>
    <urlRewrite pageHandler="~/pages.aspx" pageExtension=".aspx">
      <excludedItems>
        <add value=".js"/>
        <add value=".css"/>
        <add value=".gif"/>
        <add value=".jpg"/>
        <add value=".jpeg"/>
        <add value=".pdf"/>
        <add value=".ashx"/>
        <add value=".asmx"/>
        <add value="login.aspx"/>
        <add value="logout.aspx"/>
        <add value="error.aspx"/>
        <add value="insertuser.aspx"/>
        <add value="testimage.aspx"/>
        <add value="ws/"/>
      </excludedItems>
    </urlRewrite>
    <requestSecurity adminDirectory="admin">
      <allow>
        <add value="Administrators"/>
        <add value="Publishers"/>
        <add value="Editors"/>
        <add value="Contributors"/>
      </allow>
    </requestSecurity>
  </SiteFoundry>
  <ajaxNet>
    <ajaxSettings>
      <!--encryption cryptType="AjaxProSample.SampleCryptProvider, AjaxProSample" keyType="AjaxProSample.SampleKeyProvider, AjaxProSample" /-->
      <token enabled="true"/>
      <urlNamespaceMappings>
        <add namespace="AjaxProSample.WebForm1,AjaxProSample" path="MyPath"/>
      </urlNamespaceMappings>
    </ajaxSettings>
  </ajaxNet>
  <!-- end HTTP modules config -->
  <!-- general config -->
  <system.web>
    <compilation defaultLanguage="c#" debug="true" targetFramework="4.0"/>
    <customErrors mode="RemoteOnly"/>
    <trace enabled="false" requestLimit="10" pageOutput="false" traceMode="SortByTime" localOnly="true"/>
    <sessionState mode="InProc" stateConnectionString="tcpip=127.0.0.1:42424" sqlConnectionString="data source=127.0.0.1;Trusted_Connection=yes" cookieless="false" timeout="20"/>
    <!-- this may require UTF-16 for non roman (ie. japanese, chinese, arabic, hebrew, etc.) languages -->
    <globalization requestEncoding="utf-8" responseEncoding="utf-8"/>
    <authentication mode="Forms">
      <forms loginUrl="login.aspx" name="SiteFoundry" timeout="30" path="/"/>
    </authentication>
    <webServices>
      <protocols>
        <add name="HttpGet"/>
      </protocols>
    </webServices>
    <httpModules>
      <add name="UrlRewriter" type="Dury.SiteFoundry.UrlRewrite.UrlModule, SiteFoundry"/>
      <add name="Security" type="Dury.SiteFoundry.Security.RequestModule, SiteFoundry"/>
    </httpModules>
    <httpHandlers>
      <add verb="*" path="ajaxpro/*.ashx" type="AjaxPro.AjaxHandlerFactory, AjaxPro"/>
      <!--<add verb="*" path=".ashx" type="Dury.SiteFoundry.Imaging.ImageHandler,SiteFoundry" />-->
    </httpHandlers>
    <!-- added for proper support for mozilla/firefox -->
    <browserCaps>
      <case match="Gecko/[-\d]+">
        browser=Netscape
        frames=true
        tables=true
        cookies=true
        javascript=true
        javaapplets=true
        ecmascriptversion=1.5
        w3cdomversion=1.0
        css1=true
        css2=true
        xml=true
        tagwriter=System.Web.UI.HtmlTextWriter
        <case match="rv:1.0[^\.](?'letters'\w*)">
          version=6.0
          majorversion=6
          minorversion=0
          <case match="^b" with="${letters}">
            beta=true
          </case>
        </case>
        <case match="rv:1(\.\d+)(\.\d)?(?'letters'\w*)">
          version=7.0
          majorversion=7
          minorversion=0
          <case match="^b" with="${letters}">
            beta=true
          </case>
        </case>
      </case>
    </browserCaps>
    <xhtmlConformance mode="Legacy"/>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
  <!-- lock down admin directory -->
  <location path="admin">
    <system.web>
      <pages validateRequest="false"/>
      <authorization>
        <!--<deny users="?" />-->
      </authorization>
    </system.web>
  </location>
  <appSettings>
    <!-- begin SiteFoundry config ** change key names to prefix "sf_" -->
    <add key="connectionString" value="Password=chrisd;User ID=chrisd; Initial Catalog=sitefoundry; Data Source=(local);"/>
    <add key="objectMappingsPublicFile" value="mappingsPublic.config"/>
    <add key="objectMappingsFile" value="mappings.config"/>
    <add key="nodeTemplateDirectory" value="nodeTemplates"/>
    <add key="nodeTemplateDefinitions" value="nodetypes.config"/>
    <add key="virtualFileExtension" value=".aspx"/>
    <add key="virtualDirName" value="sitefoundry/"/>
    <add key="loginPage" value="login.aspx"/>
    <add key="resourceDirectory" value="files"/>
    <add key="publicTableSuffix" value="_public"/>
    <add key="contentMenuDisplay" value="ajax"/>
    <!-- {dhtml|flash|ajax} -->
    <add key="XStandardKeyLocation" value="http://localhost/sitefoundry/license.txt"/>
    <!-- end SiteFoundry config -->
    <!-- textbox config ** change key names to prefix "tb_" -->
    <add key="tb_toolbar" value="StyleMenu, ParagraphMenu, Bold, Italic, RemoveFormat | Indent, Outdent, BulletedList, NumberedList | Cut, Copy, Paste, Undo, Redo | ieSpellCheck | CreateLink, Unlink "/>
    <add key="tb_stylemenu" value="friendlyname:classname;frieldnly:classs;"/>
    <add key="tb_defaultMode" value="rich"/>
    <!-- {rich|plain} -->
    <!-- end textbox config -->
    <!-- image handler config -->
    <add key="img_handler_name" value="image.ashx"/>
    <!-- filename of image handler -->
    <add key="img_handler_source" value="FileSystem"/>
    <!-- {FileSystem|SqlServer} support for sql based image saving... to come later -->
    <add key="img_handler_generated_directory" value="~/images/generated/"/>
    <!-- filesystem directory below resource directory to store generated images -->
    <add key="img_handler_generated_quality" value="70"/>
    <!-- jpg quality of generated image -->
    <add key="img_handler_generated_count" value="1200"/>
    <!-- how many images to store in cache -->
    <!-- site config **prefix "site_" -->
    <add key="siteTemplateHeader" value="siteTemplates/header.ascx"/>
    <add key="siteTemplateFooter" value="siteTemplates/footer.ascx"/>
    <add key="articleTemplateDefinitions" value="articleTemplates.config"/>
    <add key="siteMainTitle" value="SiteFoundry Test Site"/>
    <add key="mainTitle" value="SF"/>
    <add key="defaultLanguage" value="en-CA"/>
    <add key="showLangInUrl" value="false"/>
    <!-- end site config -->
    <!-- security config [USE CAUTION MODIFYING THESE VALUES!] -->
    <add key="AdminstratorRoleName" value="Administrators"/>
    <add key="PublisherRoleName" value="Publishers"/>
    <add key="EditorRoleName" value="Editors"/>
    <add key="ContributorRoleName" value="Contributors"/>
    <!-- WARNING!! MODIFYING BELOW WILL INVALIDATE *ALL* USER LOGINS.  PASSWORDS WILL HAVE TO BE RESET FOR ALL USERS  -->
    <add key="encryptionKey" value="decemberists"/>
    <add key="encryptionMethod" value="SHA1"/>
    <!-- end security config -->
  </appSettings>
</configuration>